.div {
    background-image: url('../../../assets/media/bg.jpg') ;
    padding: 50px 0;
}

.title {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: #ffffd7;
    padding: 50px 0;
}