.div_top {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-image: url('../../../assets/hero/bg_top.png');
    
    .heros{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        img{
            width: 16%;

            &:hover {
                transform-style: flat;
                transform: translate(0px, 10px);
                transition-duration: 0.5s;
            }
        }
    }
}

.div_bottom {
    position: relative;
    z-index: 2;
    background-image: url('../../../assets/hero/bg_bottom.png') ;
    background-size: cover;
    background-position: top;
    margin-top: -300px;
    
    &>img {
        margin-bottom: -10px;
    }
}

.title {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: #ffffd7;
    padding-top: 13%;
}

.container {
    padding-bottom: 100px;
}

.carousel {
    width: 75%;
    margin: 0 auto;
}

.slider {
    display: flex !important;
    justify-content: space-around;

    &>img {
        width: 500px;
    }
}

.header {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }
}

.name {
    font-size: 52px;
    font-weight: bold;
    color: #ffffd7;
}

.nick {
    font-size: 34px;
    line-height: 30px;
    font-weight: bold;
    color: #2fddde;
}

.info_box {
    background-image: url('../../../assets/hero/info_bg.png');
    width: 493px;
    height: 406px;
    padding: 40px 20px 20px;
    margin-top: 20px;
}

.description {
    color: #ffffd7;
    font-size: 23px;
    line-height: 27px;
}

.status {
    color: #ffffd7;
    font-size: 23px;
    margin-top: 30px;
}

.row {
    margin-top: 8px;
    display: flex;
    align-items: center;

    &>div:first-child {
        width: 70px;
    }
}

.progress {
    width: 368px;
    height: 30px;
}