.div {
    height: 100px;
    background-color: #08323e;
    display: flex;
    align-items: center;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.menu {
    width: 67%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        font-size: 28px;
        font-weight: bold;
        color: #cfd2bb;
    }

    .divider {
        width: 3px;
        height: 60px;
        background-color:#083b49;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #379eb0;
        width: 357px;
        height: 58px;
        border-radius: 10px;
        color: white;
        cursor: pointer;

        img {
            margin-right: 20px;
        }
    }
}