.div {
    text-align: center;
    max-width: 290px;
    padding: 20px 0;
}

.name {
    color: rgb(255, 255, 215);
    font-size: 29px;
    font-weight: bold;
    margin-top: 8px;
}

.role {
    color: rgb(47, 221, 222);
    font-size: 23px;
}

.text {
    color: rgb(255, 255, 215);
    font-size: 20px;
    line-height: 22px;
    margin-top: 8px;
}