$btnWidth: 418px;
$btnHeight: 89px;
$btnRadius: 10px;
$fontFamily: 'Microsoft YaHei';
.join {
    margin-top: 85px;
    img {
        padding-right: 19px;
    }
    .discard {
        width: $btnWidth;
        height: $btnHeight;
        border-radius: $btnRadius;
        font-size: 36px;
        font-family: $fontFamily;
        background-color: #02b8b9;
        margin-right: 72px;
        color: white;
    }
    .telegram {
        width: $btnWidth;
        height: $btnHeight;
        border-radius: $btnRadius;
        font-size: 36px;
        font-family: $fontFamily;
        background-color: #f1720b;
        color: white;
    }
}
.post {
    font-family: $fontFamily;
    margin-top: 131px;
    margin-bottom: 50px;
    .email{
        width: 858px;
        margin-right: 21px;
        height: 96px;
        padding: 46px;
        font-size: 43px;
        border-radius: $btnRadius;
    }
    .btn {
        width: 285px;
        height: 96px;
        border-radius: $btnRadius;
        font-size: 38px;
        background-color: #019888;
        color: white;
    }
}
